@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

* {
    font-family: 'Libre Baskerville', serif;
}

#card-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 5fr 0.5fr 1fr 1fr;
}

.edit-button, .delete-button {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 10%;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
}

#overlay.active {
    display: block;
}

#add-book-form, #edit-book-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    z-index: 2;
}

#form-popup, #edit-module-wrapper {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    z-index: 2;
}

.card-read {
    background-color: #ffe6e6;
  }
  
/* Elements inside card */

#titleDisplay {
    grid-area: 1/1/2/2;
}

#authorDisplay {
    grid-area: 2/1/3/2;
}

.read-container {
    grid-area: 1/2/3/3;
}
#pagesDisplay {
    grid-area: 1/3/3/4;
}

#cardBtnContainer {
    grid-area: 1/4/3/5;
}

/* slider transformation */

input[type="range"] {
    transform: rotate(270deg);
    width: 100%;
    height: 70%;
    align-self: self-start;
}